.fs-2 {
    font-size: 2em !important;
}

.fs-22 {
    font-size: 22px !important;
}

.pl-2 {
    padding-left: 0.2em;
}

ion-select {
    color: #030303;
    --placeholder-color: #030303;
    --placeholder-opacity: 1;
    font-family: 'Roboto';
    font-size: 16px;
}

.welcome-msg {
    font-family: 'Red Hat Display';
    font-size: 36px !important;
    color: #030303;
}

.back-color {
    --background: #166186;
    color: #ffffff;
}

.my-courses {
    font-family: 'Red Hat Display';
    font-size: 20px;
    font-weight: bold;
    color: #030303;
}

.my-students {
    font-family: 'Red Hat Display';
    font-size: 20px;
    font-weight: bold;
    color: #030303;
}

.pre-align {
    font-size: 2.9em;
    font-weight: bolder;
    margin-left: 0.99em;
    text-overflow: clip;
    white-space: pre-line;
    text-align: center;
}

.mb-5 {
    margin-bottom: -0.5em;
}

ion-img {
    height: 18em;
}

.label-title {
    opacity: 1 !important;
    p, h2 {
        font-size: 16px !important;
        padding: 5px 0px;
        font-family: 'Red Hat Display';
    }
    p {
        color: #c1c1c1 !important;
    }
    h2 {
        color: #030303 !important;
    }
}

div.course-img-wrapper {
    overflow-x: scroll;
    display: inline-flex;
    white-space: nowrap;
    width: 100%;

    div.course-img-container {
        margin-left: 5px;
        margin-right: 5px;
        flex: 33%;
    }
}

ion-col .empty-data {
    font-family: 'Red Hat Display';
    padding: 5px 0px;
    font-size: 14px !important;
    color: #c1c1c1 !important;
}

@media (max-width: 370px) {
    .pre-align {
        margin-left: 0.5em;
    }
}