<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-padding-top" *ngIf="errorMsg">
    <div class="err-msg-box">
      <ion-label class="err-msg">{{errorMsg}}</ion-label>
    </div>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" novalidate>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">{{ 'First Name *' }}</ion-label>
      <ion-input type="text" formControlName="firstName" name="firstName" required></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">{{ 'Middle Name' }}</ion-label>
      <ion-input type="text" formControlName="middleName" name="middleName"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">{{ 'Last Name *' }}</ion-label>
      <ion-input type="text" formControlName="lastName" name="lastName" required></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">{{'Date Of Birth *'}}</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" formControlName="dob"></ion-datetime>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label position="floating">{{ 'Email *' }}</ion-label>
      <ion-input type="text" formControlName="email" name="email" required></ion-input>
    </ion-item>
    <!-- <ion-item class="ion-margin-start ion-margin-end">
      <ion-label>Gender </ion-label>
      <ion-select formControlName="gender" required>
        <ion-select-option value="M">Male</ion-select-option>
        <ion-select-option value="F">Female</ion-select-option>
        <ion-select-option value="O">Other</ion-select-option>
      </ion-select>
    </ion-item> 
    <ion-item class="ion-margin-start ion-margin-end">
      <ion-label position="floating">{{ 'Mobile Number' }}</ion-label>
      <ion-input type="tel" formControlName="mobileNumber" name="mobilenumber" maxlength="10" required></ion-input>
    </ion-item>-->
    <div class="ion-padding-top">
      <ion-button type="submit" color="primary" expand="block">Update</ion-button>
    </div>
  </form>
</ion-content>
