<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-top">
  <ion-slide class="profile-ion-slide">
    <ion-grid class="profile-container">
      <ion-row class="pt-15">
        <ion-col>
          <ion-label>
            <h1 class="heading-title">My Profile</h1>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-top" *ngIf="role === 'student'">
          <ion-img [src]="profilePic ?? 'assets/imgs/avatar.svg'" class="profile-image"></ion-img>
          <a href="javascript:void(0)" (click)="addUpdateProfilePic()" class="link-label">Update Picture</a>
        </ion-col>
        <ion-col class="ion-padding-top" *ngIf="role === 'teacher'">
          <ion-img src="assets/imgs/avatar.svg" class="profile-image"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding">
          <div class="ion-padding-top" *ngIf="errorMsg">
            <div class="err-msg-box">
              <ion-label class="err-msg">{{errorMsg}}</ion-label>
            </div>
          </div>
          <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" novalidate>
            <ion-list class="profile-list">
              <ion-label align="left" class="input-label">{{ 'First Name *' }}</ion-label>
              <ion-item>
                <ion-input type="text" formControlName="firstName" name="firstName" placeholder="First Name" required></ion-input>
              </ion-item>
              <ion-label align="left" class="input-label">{{ 'Last Name *' }}</ion-label>
              <ion-item>
                <ion-input type="text" formControlName="lastName" name="lastName" placeholder="Last Name" required></ion-input>
              </ion-item>
              <ion-label align="left" class="input-label">{{ 'Email *' }}</ion-label>
              <ion-item>
                <ion-input type="text" formControlName="email" name="email" placeholder="Email" required></ion-input>
              </ion-item>
              <br/>
              <!-- <ion-radio-group formControlName="contactSettings">
                <ion-list-header>
                  <ion-label align="left" class="input-label">{{ 'Communication Option'}}</ion-label>
                </ion-list-header>
                <ion-item class="radio-item">
                  <ion-label class="radio-label">Internal Messaging</ion-label>
                  <ion-radio value="internalMessaging" slot="start"></ion-radio>
                </ion-item>
                <ion-item class="radio-item">
                  <ion-label class="radio-label">Email</ion-label>
                  <ion-radio value="email" slot="start"></ion-radio>
                </ion-item>
              </ion-radio-group> -->
            </ion-list>
            <div class="ion-padding-bottom" *ngIf="role === 'student'">
              <ion-button type="submit" class="btn-reset" expand="block">Update</ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-content>
