<ion-content [fullscreen]="true">
  <ion-slide class="signup-ion-slide">
    <div class="signup-container">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1 class="heading-title">Sign up</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="err-msg-box" *ngIf="errorMsg">
                <ion-label class="err-msg">{{errorMsg}}</ion-label>
              </div>
              <ion-list class="loginList">
                <ion-row>
                  <ion-col size="6">
                    <ion-label align="left" class="input-label">{{ 'First Name *' }}</ion-label>
                    <ion-item>
                      <ion-input type="text" formControlName="firstName" name="firstName" required
                        placeholder="First Name"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-label align="left" class="input-label">{{ 'Last Name *' }}</ion-label>
                    <ion-item>
                      <ion-input type="text" formControlName="lastName" name="lastName" required
                        placeholder="Last Name"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-label align="left" class="input-label">{{ 'User Name *' }}</ion-label>
                <ion-item>
                  <ion-input type="text" formControlName="userName" name="userName" maxlength="12" required
                    placeholder="User Name"></ion-input>
                </ion-item>
                <ion-label align="left" class="input-label">{{ 'Password *' }}</ion-label>
                <ion-item class="loginItem">
                  <ion-input type="password" formControlName="password" name="password" required placeholder="Password">
                  </ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" class="btn-signup" expand="block">Sign up</ion-button>
              <ion-button type="button" color="medium" class="btn-cancel" expand="block" (click)="navigateToLogin()">
                Cancel
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </ion-slide>
</ion-content>