<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid style="margin-top:20px;">
    <ion-row>
      <ion-col size="12">
        <div class="resetpwd-logo">
          <img src="../../../assets/imgs/template1-icon.png" />
          <h2>Forgot Password?</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <div class="ion-padding-top" *ngIf="errorMsg">
          <div class="err-msg-box">
            <ion-label class="err-msg">{{errorMsg}}</ion-label>
          </div>
        </div>
        <form [formGroup]="fpForm" (ngSubmit)="updatePassword()" novalidate>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">{{ 'User Name *' }}</ion-label>
            <ion-input type="text" formControlName="userName" name="userName" required></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">{{ 'Password *' }}</ion-label>
            <ion-input type="password" formControlName="password" name="password" required></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding">
            <ion-label position="floating">{{ 'Confirm Password *' }}</ion-label>
            <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" required></ion-input>
          </ion-item>
          <div class="ion-padding-top">
            <ion-button type="submit" color="primary" expand="block" class="btn">
              Submit
            </ion-button>
            <ion-button type="button" color="medium" expand="block" (click)="navigateToLogin()">
              Cancel
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
