<ion-content>
  <ion-slide class="fp-ion-slide">
    <ion-grid class="fp-container">
      <ion-row>
        <ion-col>
          <ion-label>
            <h1 class="heading-title">Forgot Password?</h1>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <div class="ion-padding-top" *ngIf="errorMsg">
            <div class="err-msg-box">
              <ion-label class="err-msg">{{errorMsg}}</ion-label>
            </div>
          </div>
          <form [formGroup]="fpForm" (ngSubmit)="updatePassword()" novalidate>
            <ion-list class="fp-list">
              <ion-label align="left" class="input-label">{{ 'User Name *' }}</ion-label>
              <ion-item>
                <ion-input type="text" formControlName="userName" name="userName" required placeholder="User Name"></ion-input>
              </ion-item>
              <ion-label align="left" class="input-label">{{ 'Password *' }}</ion-label>
              <ion-item>
                <ion-input type="password" formControlName="password" name="password" required placeholder="Password"></ion-input>
              </ion-item>
              <ion-label align="left" class="input-label">{{ 'Confirm Password *' }}</ion-label>
              <ion-item>
                <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" required placeholder="Confirm Password">
                </ion-input>
              </ion-item>
            </ion-list>
            <div>
              <ion-button type="submit" expand="block" class="btn-reset">
                Submit
              </ion-button>
              <ion-button type="button" color="medium" expand="block" (click)="navigateToLogin()" class="btn-cancel">
                Cancel
              </ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-content>