<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="loginGrid">
    <ion-row class="gridRow1">
      <ion-col class="img-container">
        <!-- <ion-icon name="ribbon-outline"></ion-icon><br /> -->
        <ion-label>E-Learning</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="gridRow2">
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>
  <ion-slide class="login-ion-slide">
    <div class="container-login">
      <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="ion-padding-top">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="err-msg-box" *ngIf="loginErrMsg">
                <ion-label class="err-msg">{{loginErrMsg}}</ion-label>
              </div>
              <ion-list class="loginList">
                <ion-item class="loginItem">
                  <ion-icon name="person" class="icon-login"></ion-icon>
                  <ion-input type="text" formControlName="userName" name="userName" required
                    placeholder="User Name">
                  </ion-input>
                </ion-item>
                <br />
                <ion-item class="loginItem">
                  <ion-icon name="lock-closed" class="icon-login"></ion-icon>
                  <ion-input type="password" formControlName="password" name="password" required placeholder="Password">
                  </ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <!-- <ion-button type="submit" color="primary" expand="block">login</ion-button> -->
              <ion-button type="submit" color="primary" expand="block">
                Login
              </ion-button>
              <ion-button type="button" color="danger" expand="block" (click)="navigateToSignup()">
                Sign Up
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                <a [routerLink]="['/forgot-password']" small>Forgot
                  Password?</a>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </ion-slide>
</ion-content>
