ion-content {
    --background: whitesmoke;
}

ion-item {
    --border-width: 2px;
    --border-color:#ffffff;
    --border-radius: 8px;
    --inner-border-width: 0;
    --background: #ffffff;
    --full-highlight-height: none;
}

.box-title {
    font-family: 'Red Hat Display';
    font-weight: bold;
}

.box-sub-title {
    font-family: 'Red Hat Display';
}

.label-title {
    opacity: 1 !important;
    p, h2 {
        font-size: 16px !important;
        padding:5px 0px;
        font-family: 'Red Hat Display';
    }
    p {
        color: #c1c1c1 !important;
    }
    h2 {
        color: #030303 !important;
    }
}

ion-col .empty-data {
    font-family: 'Red Hat Display';
    font-size: 17px !important;
    color: #030303 !important;
    text-align: center;
}