ion-content {
    --background: whitesmoke;
}

ion-item {
    --border-width: 2px;
    --border-color:#ffffff;
    --border-radius: 8px;
    --inner-border-width: 0;
    --background: #ffffff;
    --full-highlight-height: none;
}

.box-title {
    font-family: 'Red Hat Display';
    font-weight: bold;
}

.box-sub-title {
    font-family: 'Red Hat Display';
}

.attended-border {
    border: 1pt solid #B6B674;
    background-color: #9AD09A;
    padding-right: 20px;
}

.holiday-border {
    border: 1pt solid #B6B674;
    background-color: #D3D3D3;
    padding-right: 20px;
}

.unexcused-absence-border {
    border: 1pt solid #B6B674;
    background-color: #fff;
    padding-right: 20px; 
}

.label-title {
    opacity: 1 !important;
    p, h2 {
        font-size: 16px !important;
        padding:5px 0px;
        font-family: 'Red Hat Display';
    }
    p {
        color: #c1c1c1 !important;
    }
    h2 {
        color: #030303 !important;
    }
}

ion-col .empty-data {
    font-family: 'Red Hat Display';
    font-size: 17px !important;
    color: #030303 !important;
    text-align: center;
}

.attendance-card {
    --background: #166186;
    color: #ffffff;
    font-family: 'Red Hat Display';
    padding-bottom: 1rem;
    margin: 10px 5px;
    ion-item {
        --background: #166186;
        --border-color: #166186;
        font-family: 'Red Hat Display';
        ion-label > p, ion-label > h2, ion-label > h1 {
            color: #ffffff !important;
            pointer-events: none;
        }
    }
}

.grade-card-heading {
    font-size: 18px;
    text-align: left;
    margin-bottom: 0.5rem;
}

.grade-card-content {
    font-size: 36px;
}

.mlt {
    margin-left: -4.9em;
    pointer-events: none;
}

@media (max-width: 370px) {
    .mlt {
        margin-left: -5.9em;
    }
}