.fs-2 {
    font-size: 2em !important;
}

.fs-22 {
    font-size: 22px !important;
}

.pl-2 {
    padding-left: 0.2em;
}

.back-color {
    --background: #166186;
}

.pre-align {
    font-family: "Red Hat Display";
    font-size: 18px;
    font-weight: bolder;
    color: whitesmoke;
}

.mb-5 {
    margin-bottom: -0.5em;
}

ion-img {
    height: 144px;
    width: 140px;
    //height:18em;
}

.welcome-msg {
    font-family: 'Red Hat Display';
    font-size: 36px !important;
    color: #030303;
}

.attendance-card {
    --background: #166186;
    color: #ffffff;
    font-family: 'Red Hat Display';
    padding-bottom: 2.8rem;
}

.grade-card {
    --background: #168617;
    color: #ffffff;
    font-family: 'Red Hat Display';
    padding-bottom: 2.8rem;
}

.grade-card-heading {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0.5rem;
}

.grade-card-content {
    font-size: 36px;
}

.my-courses {
    font-family: 'Red Hat Display';
    font-size: 36px;
}

.my-attendance {
    font-family: 'Red Hat Display';
    font-size: 20px;
    font-weight: bold;
}

.label-title {
    opacity: 1 !important;
    p, h2 {
        font-size: 16px !important;
        padding: 5px 0px;
        font-family: 'Red Hat Display';
    }
    p {
        color: #c1c1c1 !important;
    }
    h2 {
        color: #030303 !important;
    }
}

ion-col .empty-data {
    font-family: 'Red Hat Display';
    padding: 5px 0px;
    font-size: 14px !important;
    color: #c1c1c1 !important;
}

div.course-img-wrapper {
    overflow-x: scroll;
    display: inline-flex;
    white-space: nowrap;
    width: 100%;

    div.course-img-container {
        margin-left: 5px;
        margin-right: 5px;
        flex: 33%;
    }
}

ion-slide {
    ion-card {
        width: 100%;
    }
}

@media (max-width: 370px) {
    .pre-align {
        margin-left: 0.9em;
    }
}