<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-top">
  <ion-row>
    <ion-col size="8" class="fs-22">
      <h1 class="fs-2 pl-2 welcome-msg">Welcome back {{ profile?.firstName }}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      School Year
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-select interface="popover" [(ngModel)]="academicId" (ionChange)="onAcademicYearChange($event)" class="academic-year"
          placeholder="Select School Year" [mode]="'ios'">
          <ion-select-option [value]="academicYear.id + ''" *ngFor="let academicYear of academicYears">{{academicYear.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-card class="attendance-card" (click)="navigateToReport()" (focus)="onFocus()">
        <ion-card-content>
          <ion-item>
            <ion-label slot="start">
              <h2 class="grade-card-heading">Attendance</h2>
              <h1 class="grade-card-content">{{avgAttendance}}%</h1>
            </ion-label>
            <ion-label slot="end" class="mlt">
              <p>Total Days: {{totalDays}}</p>
              <p>Present: {{daysPresent}}</p>
              <p>Absent: {{daysAbsent}}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <!-- <ion-col size="6">
      <ion-card class="grade-card">
        <ion-card-content>
          <ion-label>
            <h2 class="grade-card-heading">Grade</h2>
            <h1 class="grade-card-content">{{grade}}%</h1>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col> -->
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="pl-2 mb-5 my-courses">My Courses</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="course-img-wrapper">
        <div class="course-img-container" *ngFor="let course of courses"
          (click)="navigateToCourseWiseAttendance(course.id)">
          <ion-img [src]="course.image || ''"></ion-img>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="pl-2 mb-5 my-attendance">My Attendance</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="pt-1">
      <ion-segment [(ngModel)]="segment" (ionChange)="onCalendarOptionChange(segment)">
        <ion-segment-button [value]="'weekly'" [mode]="'ios'">
          <ion-label class="segment-title">Weekly</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="'monthly'" [mode]="'ios'">
          <ion-label class="segment-title">Monthly</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  <!-- <ion-row>
    <ion-col class="pt-1">
      <ion-calendar [(ngModel)]="calendarDate"
      (select)="onDateChange($event)"
      [options]="calendarOptions"
      [type]="calenderDateType"
      [format]="'YYYY-MM-DD'">
    </ion-calendar>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col *ngIf="segment === 'weekly' && attendanceHistory.length > 0">
      <!-- <ion-slides [options]="slideOptions" [mode]="'ios'" [pager]="true">
        <ion-slide *ngFor="let existingHistory of historyDates">
         
        </ion-slide>
      </ion-slides> -->
      <ion-card>
        <ion-list>
          <ion-item *ngFor="let history of attendanceHistory; let index = index"
            [lines]="index+1 === attendanceHistory.length ? 'none' : 'full'">
            <ion-label class="label label-title">
              <p>{{ history.attendedDate | date: 'MM/dd/YYYY'}}</p>
              <h2>{{ history.course }}</h2>
            </ion-label>
            <ion-toggle slot="end" color="success" [disabled]="!history.enableAcknowledgement && !history.isSelfAcknowledged" [(ngModel)]="history.isAcknowledged" (ionFocus)="onFocus()" (ionChange)="updateAcknowledgement(history)" [checked]="history.isAcknowledged"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
    <ion-col *ngIf="segment === 'monthly' && attendanceHistory.length > 0">
      <!-- <ion-slides [options]="slideOptions" [mode]="'ios'" [pager]="true">
        <ion-slide *ngFor="let existingHistory of historyDates">
         
        </ion-slide>
      </ion-slides> -->
      <ion-card>
        <ion-list>
          <ion-item *ngFor="let history of attendanceHistory; let index = index"
            [lines]="index+1 === attendanceHistory.length ? 'none' : 'full'">
            <ion-label class="label label-title">
              <p>{{ history.attendedDate | date: 'MM/dd/YYYY'}}</p>
              <h2>{{ history.course }}</h2>
            </ion-label>
            <ion-toggle slot="end" color="success" [disabled]="!history.enableAcknowledgement && !history.isSelfAcknowledged" [(ngModel)]="history.isAcknowledged" (ionFocus)="onFocus()" (ionChange)="updateAcknowledgement(history)" [checked]="history.isAcknowledged"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
    <ion-col *ngIf="attendanceHistory.length === 0">
      <p class="empty-data">
        Welcome for your first day
      </p>
    </ion-col>
  </ion-row>
</ion-content>