/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

div.err-msg-box {
    color:red;
    padding: 6px;
    font-size:small;
}

body {
    --ion-toolbar-background: linear-gradient(to bottom, #004a81, #09538a, #125b93, #1a649d, #216da6);
    --ion-toolbar-color:#ffffff;
}
  
ion-content {
    --background: #ffffff;
}

.login{
    background: #fff;
}

.loginGrid {
    height: 100%;
    padding: 0px;
  }
  
.container-login {
    width: 90%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}
  
.gridRow1 {
    height: 50%;
    background-image: linear-gradient(to bottom, #004a81, #09538a, #125b93, #1a649d, #216da6);
}
  
.gridRow2 {
    height: 50%;
}
  
.loginItem ion-icon {
    margin-right: 15px;
}
  
ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
    --border-radius: 20px;
}
  
.login-ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}
  
.loginList {
    background-color: #FFFFFF !important;
}

.loginItem {
    background-color: #FFFFFF  !important;
}
  
.loginItem-ion-label {
    opacity: 0.5;
}
  
.img-container {
    padding-top:30px;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    // align-items: center; this only if you want to vertical align it to the center too
}
  
.img-container ion-icon {font-size: 3rem;margin: 10px 0px;}
  
.img-container ion-label {
     font-size:1.5rem;
}
  
a[small] {
    font-size: 14px;
}
